<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>J1932</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TestServlet01</display-name>
    <servlet-name>TestServlet01</servlet-name>
    <servlet-class>com.fjsdxy.TestServlet01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet01</servlet-name>
    <url-pattern>/TestServlet01</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet02</display-name>
    <servlet-name>TestServlet02</servlet-name>
    <servlet-class>com.fjsdxy.TestServlet02</servlet-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
    <init-param>
      <param-name>language</param-name>
      <param-value>chinese</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet02</servlet-name>
    <url-pattern>/TestServlet02</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>companyname</param-name>
    <param-value>fjsdxy</param-value>
  </context-param>
  <context-param>
    <param-name>addresss</param-name>
    <param-value>fujian</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>TestServlet03</display-name>
    <servlet-name>TestServlet03</servlet-name>
    <servlet-class>com.fjsdxy.TestServlet03</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet03</servlet-name>
    <url-pattern>/TestServlet03</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet04</display-name>
    <servlet-name>TestServlet04</servlet-name>
    <servlet-class>com.fjsdxy.TestServlet04</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet04</servlet-name>
    <url-pattern>/TestServlet04</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet05</display-name>
    <servlet-name>TestServlet05</servlet-name>
    <servlet-class>com.fjsdxy.TestServlet05</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet05</servlet-name>
    <url-pattern>/TestServlet05</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet06</display-name>
    <servlet-name>TestServlet06</servlet-name>
    <servlet-class>com.fjsdxy.TestServlet06</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet06</servlet-name>
    <url-pattern>/TestServlet06</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownManagerServlet</display-name>
    <servlet-name>DownManagerServlet</servlet-name>
    <servlet-class>com.fjsdxy.request.DownManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownManagerServlet</servlet-name>
    <url-pattern>/DownManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IncludedServlet</display-name>
    <servlet-name>IncludedServlet</servlet-name>
    <servlet-class>com.fjsdxy.request.IncludedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncludedServlet</servlet-name>
    <url-pattern>/IncludedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IncludingServlet</display-name>
    <servlet-name>IncludingServlet</servlet-name>
    <servlet-class>com.fjsdxy.request.IncludingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncludingServlet</servlet-name>
    <url-pattern>/IncludingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestForwardServlet</display-name>
    <servlet-name>RequestForwardServlet</servlet-name>
    <servlet-class>com.fjsdxy.request.RequestForwardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestForwardServlet</servlet-name>
    <url-pattern>/RequestForwardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestHeadersServlet</display-name>
    <servlet-name>RequestHeadersServlet</servlet-name>
    <servlet-class>com.fjsdxy.request.RequestHeadersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestHeadersServlet</servlet-name>
    <url-pattern>/RequestHeadersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResultServlet</display-name>
    <servlet-name>ResultServlet</servlet-name>
    <servlet-class>com.fjsdxy.request.ResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultServlet</servlet-name>
    <url-pattern>/ResultServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestLineServlet</display-name>
    <servlet-name>RequestLineServlet</servlet-name>
    <servlet-class>com.fjsdxy.request.RequestLineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestLineServlet</servlet-name>
    <url-pattern>/RequestLineServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestParamsServlet</display-name>
    <servlet-name>RequestParamsServlet</servlet-name>
    <servlet-class>com.fjsdxy.request.RequestParamsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestParamsServlet</servlet-name>
    <url-pattern>/RequestParamsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrintServlet</display-name>
    <servlet-name>PrintServlet</servlet-name>
    <servlet-class>com.fjsdxy.response.PrintServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrintServlet</servlet-name>
    <url-pattern>/PrintServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChineseServlet</display-name>
    <servlet-name>ChineseServlet</servlet-name>
    <servlet-class>com.fjsdxy.response.ChineseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChineseServlet</servlet-name>
    <url-pattern>/ChineseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RefreshServlet1</display-name>
    <servlet-name>RefreshServlet1</servlet-name>
    <servlet-class>com.fjsdxy.response.RefreshServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RefreshServlet1</servlet-name>
    <url-pattern>/RefreshServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RefreshServlet2</display-name>
    <servlet-name>RefreshServlet2</servlet-name>
    <servlet-class>com.fjsdxy.response.RefreshServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RefreshServlet2</servlet-name>
    <url-pattern>/RefreshServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.fjsdxy.response.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LastAccessServlet</display-name>
    <servlet-name>LastAccessServlet</servlet-name>
    <servlet-class>com.fjsdxy.cookies.LastAccessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LastAccessServlet</servlet-name>
    <url-pattern>/LastAccessServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckServlet</display-name>
    <servlet-name>CheckServlet</servlet-name>
    <servlet-class>com.fjsdxy.session2.CheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckServlet</servlet-name>
    <url-pattern>/CheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.fjsdxy.session2.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet2</display-name>
    <servlet-name>LoginServlet2</servlet-name>
    <servlet-class>com.fjsdxy.session2.LoginServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet2</servlet-name>
    <url-pattern>/LoginServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet3</display-name>
    <servlet-name>LoginServlet3</servlet-name>
    <servlet-class>com.fjsdxy.session2.LoginServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet3</servlet-name>
    <url-pattern>/LoginServlet3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.fjsdxy.session2.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.fjsdxy.session1.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListBookServlet</display-name>
    <servlet-name>ListBookServlet</servlet-name>
    <servlet-class>com.fjsdxy.session1.ListBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListBookServlet</servlet-name>
    <url-pattern>/ListBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PurchaseServlet</display-name>
    <servlet-name>PurchaseServlet</servlet-name>
    <servlet-class>com.fjsdxy.session1.PurchaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseServlet</servlet-name>
    <url-pattern>/PurchaseServlet</url-pattern>
  </servlet-mapping>
</web-app>